
<div class="container text-center">
<%= image_tag('blockbuster_logo.png', style: 'width: 600px; ')%>
<p class="text-uppercase fw-bold" style="color:orange;">We are working on rewinding your movie.</p>
<h2 class=" ">Welcome</h2>
<p>Fecha Hora</p>
<%= Time.now.strftime("%Y-%m-%d %H:%M:%S") %>


</div>
